{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}


{% block content %}
<h1>Все новости:</h1>
<h3>Количество публикаций: {{ news|length }}</h3>

<hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td></td>
               <td>Описание</td>
               <td></td>
               <td>Категория</td>
               <td></td>
                <td>Дата</td>

           </tr>
           {% for new in news %}
           <tr>
            <td>  <a href="{% url 'post_details' new.id %}">{{ new.title|censor }}</a><td>
            <td>{{ new.text|censor }}<td>
             <td>
               {% for category in new.category.all %}
                <a href="{% url 'category_list' category.pk %}">{{category}}</a><td>
                {% endfor %}
               <td>{{ new.datecr|date:'d M Y'}}<td>
           </tr>
               {% endfor %}
       </table>
    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}

{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}


